header
{
    position: relative;
    text-align: center;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
}

.text
{
    position: relative;
    font-family: 'Courier New', Courier, monospace;    
}

#flexbox-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#flexbox-container-mid
{
    display: flex;
    background-color:palevioletred;
    border:orange 2px solid;
    align-items: flex-start;
}

#list
{  
    flex-basis: 10vw;               /* Setting width of the list */
    border: black 2px solid;
}

#list ul
{
    padding-left: 1rem;             /*padding left of the items in the list*/
    list-style-type: none;
    line-height: 3rem; 
    flex: 1 1;
}


.main-text
{
    width: 60vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Courier New', Courier, monospace;    
    border: black 2px solid;
    flex: 2 2;
}

#image img
{
    width: 30vw;
    flex: 3;
    border: black 2px solid;
    align-self: flex-end;
    flex: 1 1;
}

footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
